In [4]:
import pymysql
import pyhive
import scipy.io
import csv
import pandas as pd

In [5]:
# (선택) df 예시
df_test = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]})

df_test.to_csv('./db_server_test.csv')
df_test

   num_legs  num_wings  num_specimen_seen
0         2          2                 10
1         4          0                  2
2         8          0                  1
3         0          0                  8

In [8]:
# csv로 만들어진 데이터 서버 붙어서 집어 넣기

conn = pymysql.connect(host='165.132.192.29', user='icet', password='021234528', db='proj_skg_db', charset='utf8')
curs = conn.cursor()
conn.commit()

f = open('./db_server_test.csv','r')
csvReader = csv.reader(f)

for row in csvReader:
    num_legs = (row[0])
    num_wings = (row[1])
    num_specimen_seen = (row[2])
    
    sql = """insert into bugs_table (num_legs, num_wings, num_specimen_seen) values (%s, %s, %s)"""
    curs.execute(sql, (num_legs, num_wings, num_specimen_seen))

#db의 변화 저장
conn.commit()
f.close()
conn.close()

In [9]:
# 만들어진 테이블 조회하기

conn = pymysql.connect(host='165.132.192.29', user='icet', password='021234528', db='proj_skg_db', charset='utf8')
curs = conn.cursor()
sql = "select * from bugs_table"
curs.execute(sql)
data = curs.fetchall()

data

(('', 'num_legs', 'num_wings'),
 ('0', '2', '2'),
 ('1', '4', '0'),
 ('2', '8', '0'),
 ('3', '0', '0'),
 ('', 'num_legs', 'num_wings'),
 ('0', '2', '2'),
 ('1', '4', '0'),
 ('2', '8', '0'),
 ('3', '0', '0'),
 ('', 'num_legs', 'num_wings'),
 ('0', '2', '2'),
 ('1', '4', '0'),
 ('2', '8', '0'),
 ('3', '0', '0'))